includes:
	- vendor/tomasvotruba/type-coverage/config/extension.neon

parameters:
	level: 9
	paths:
		- bin
		- src
		- tests

	type_coverage:
		param_type: 100.0
		property_type: 100.0
		return_type: 100.0
		declare: 100.0

